body {
  font-family: "Mulish", sans-serif !important;
}

.navbar-logo {
  display: flex;
  align-items: center;
  padding: 32px;
  font-size: 19px;
  color: #A4A6B3;
  text-decoration: none;
  overflow: hidden;
}
.navbar-logo .logo-img {
  margin-right: 14px;
}

.bg-sidebar.navbar {
  align-items: stretch;
  background-color: #363740;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 122px 0 0;
  background-color: #363740;
}
.sidebar .nav-item {
  height: 56px;
}
.sidebar .nav-link {
  font-weight: 400;
  font-size: 16px;
  color: #A4A6B3;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 32px;
}
.sidebar .nav-link.active {
  color: #DDE2FF;
  background-color: rgba(159, 162, 180, 0.08);
  border-left: 3px solid #DDE2FF;
}
.sidebar hr {
  background-color: #DFE0EB;
}

.content-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1 auto;
  background-color: #F7F8FC;
  padding: 30px;
}
.content-header h1.title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #252733;
  letter-spacing: 0.3px;
}
.content-header .content-header-right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.content-header .content-header-right .header-icons {
  color: #C5C7CD;
  font-size: 13px;
  display: flex;
  gap: 24px;
}
.content-header .content-header-right .vertical-line {
  background-color: #DFE0EB;
  height: 32px;
  width: 1px;
}
.content-header .content-header-right .user-container {
  display: flex;
  align-items: center;
  gap: 14px;
}
.content-header .content-header-right .user-container h3.user-name {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.content-header .content-header-right .user-container .user-icon {
  font-size: 44px;
}

.container-fluid,
main {
  background-color: #F7F8FC;
  padding-bottom: 15px;
}

main {
  padding-top: 32px;
}

.cards-container {
  margin-bottom: 30px;
}
.cards-container .card-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 19px;
  color: #9FA2B4;
  letter-spacing: 0.4px;
  line-height: 23.85px;
}
.cards-container .card-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 50.2px;
  letter-spacing: 1px;
  color: #252733;
}
.cards-container .card {
  cursor: pointer;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
}
.cards-container .card:hover {
  border: 1px solid #3751FF;
}
.cards-container .card:hover .card-text,
.cards-container .card:hover .card-title {
  color: #3751FF;
}

.todays-trends {
  background-color: white;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  margin-bottom: 30px;
}
.todays-trends .graph-container {
  padding: 32px;
}
.todays-trends .graph-container .graph-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 23.85px;
  letter-spacing: 0.4px;
  color: #252733;
}
.todays-trends .graph-container .graph-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #9FA2B4;
}
.todays-trends .additional-info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid #DFE0EB;
  padding: 0;
}
.todays-trends .additional-info-container .additional-info-card {
  border-bottom: 1px solid #DFE0EB;
  padding: 32px 32px 24px 32px;
  width: 100%;
}
.todays-trends .additional-info-container .additional-info-card .additional-info-card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #9FA2B4;
}
.todays-trends .additional-info-container .additional-info-card .additional-info-card-text {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.12px;
  letter-spacing: 0.3px;
  color: #252733;
}

.tickets-tasks-container .tickets-tasks-body .card-header {
  background-color: white;
  padding: 32px 32px 16px 32px;
  border: none;
}
.tickets-tasks-container .tickets-tasks-body .card-header .title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.tickets-tasks-container .tickets-tasks-body .card-header .title-container .card-title {
  margin: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 23.85px;
  letter-spacing: 0.4px;
  color: #252733;
}
.tickets-tasks-container .tickets-tasks-body .card-header .title-container .card-title-link {
  color: #3751FF;
  text-decoration: none;
}
.tickets-tasks-container .tickets-tasks-body .card-header .card-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #9FA2B4;
}
.tickets-tasks-container .tickets-tasks-body .card-header .card-subtitle span {
  font-weight: 600;
}
.tickets-tasks-container .tickets-tasks-body .card-body-list-item {
  border-bottom: 1px solid #DFE0EB;
  padding: 20px 32px 18px;
  max-height: 58px;
}
.tickets-tasks-container .tickets-tasks-body .card-body-list-item:last-child {
  border: none;
}
.tickets-tasks-container .tickets-tasks-body .card-body-list-item .form-check {
  margin: 0;
}
.tickets-tasks-container .tickets-tasks-body .card-body-list-item .card-item-content {
  display: flex;
  justify-content: space-between;
}
.tickets-tasks-container .tickets-tasks-body .card-body-list-item .card-item-content .card-item-content-title {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
}
.tickets-tasks-container .tickets-tasks-body .card-body-list-item .card-item-content .card-item-content-title.create-task {
  color: #C5C7CD;
}
.tickets-tasks-container .tickets-tasks-body .card-body-list-item .card-item-content .card-item-content-value {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #9FA2B4;
}

.tickets-page .card-body {
  padding: 0;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
}
.tickets-page .card-title-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 32px 48px 32px;
}
.tickets-page .card-title-container .card-title {
  margin: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 23.85px;
  letter-spacing: 0.4px;
  color: #252733;
}
.tickets-page .card-title-container .cart-header-icons {
  display: flex;
  align-items: center;
  gap: 32px;
}
.tickets-page .card-title-container .cart-header-icons span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #4B506D;
}
.tickets-page .card-title-container .cart-header-icons span .cart-header-icon {
  color: #C5C7CD;
}
.tickets-page table th {
  font-weight: 700;
  font-size: 14px;
  line-height: 17.57px;
  letter-spacing: 0.2px;
  color: #9FA2B4;
  padding: 0 0 12px 31px;
}
.tickets-page table tbody {
  cursor: pointer;
}
.tickets-page table tbody tr:hover {
  background-color: rgba(55, 81, 255, 0.04);
}
.tickets-page table td {
  vertical-align: middle;
  padding: 24px 31px;
}
.tickets-page table td h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
}
.tickets-page table td .text-secondary-custom {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #C5C7CD;
}
.tickets-page table .ticket-user {
  height: 44px;
  margin-right: 24px;
}

/*# sourceMappingURL=style.css.map */
