$font-stack: 'Mulish', sans-serif;

.navbar-logo {
    font-family: $font-stack;
    padding: 32px;
    font-size: 19px;
    color: #A4A6B3;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;

    .logo-img {
        margin-right: 12px;
    }
}

.bg-sidebar.navbar {
    align-items: stretch;
    background-color: #363740;
}


.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 122px 0 0;
    background-color: #363740;

    .nav-item {
        height: 56px;
    }

    .nav-link {
        font-family: $font-stack;
        font-weight: 400;
        font-size: 16px;
        color: #A4A6B3;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 14px;
        padding-left: 32px;

        &.active {
            color: #DDE2FF;
            background-color: rgba($color: #9FA2B4, $alpha: 0.08);
            border-left: 3px solid #DDE2FF;
        }
    }

    hr {
        background-color: #DFE0EB;
    }
}

.content-header {
    display: flex;
    flex-direction: row;
    flex: 1 auto;
    background-color: #F7F8FC;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    h1.title {
        margin: 0;
        font-weight: 700;
        font-family: $font-stack;
        font-size: 24px;
        color: #252733;
        letter-spacing: 0.3px;
    }

    .content-header-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;

        .header-icons {
            color: #C5C7CD;
            font-size: 13px;
            display: flex;
            gap: 24px;
        }

        .vertical-line {
            background-color: #DFE0EB;
            height: 32px;
            width: 1px;
        }

        .user-container {
            display: flex;
            align-items: center;
            gap: 14px;

            h3.user-name {
                margin: 0;
                font-family: $font-stack;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
            }

            .user-icon {
                font-size: 44px;
            }
        }
    }
}

.container-fluid,
main {
    background-color: #F7F8FC;
}

.cards-container {
    margin-bottom: 30px;

    .card-title {
        margin-bottom: 12px;
        font-family: $font-stack;
        font-weight: 700;
        font-size: 19px;
        color: #9FA2B4;
        letter-spacing: 0.4px;
        line-height: 23.85px;
    }

    .card-text {
        font-family: $font-stack;
        font-weight: 700;
        font-size: 40px;
        line-height: 50.2px;
        letter-spacing: 1px;
        color: #252733;
    }

    .card {
        border: 1px solid #DFE0EB;
        border-radius: 8px;

        &:hover {
            border: 1px solid #3751FF;

            .card-text,
            .card-title {
                color: #3751FF;
            }
        }
    }
}

.todays-trends {
    background-color: white;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    margin-bottom: 30px;

    .graph-container {
        padding: 32px;

        .graph-title {
            margin-bottom: 0;
            font-family: $font-stack;
            font-weight: 700;
            font-size: 19px;
            line-height: 23.85px;
            letter-spacing: 0.4px;
            color: #252733;
        }

        .graph-date {
            font-family: $font-stack;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1px;
            color: #9FA2B4;
        }
    }

    .additional-info-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-left: 1px solid #DFE0EB;
        padding: 0;

        .addtiional-info-card {
            border-bottom: 1px solid #DFE0EB;
            padding: 32px 32px 24px 32px;

            .addtiional-info-card-title {
                font-family: $font-stack;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.3px;
                color: #9FA2B4;
            }

            .addtiional-info-card-text {
                margin: 0;
                font-family: $font-stack;
                font-weight: 700;
                font-size: 24px;
                line-height: 30.12px;
                letter-spacing: 0.3px;
                color: #252733;
            }
        }
    }
}

.tickets-tasks-container {
    margin-bottom: 30px;

    .tickets-tasks-body {
        .card-header {
            background-color: white;
            padding: 32px 32px 16px 32px;
            border: none;

            .title-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;

                .card-title {
                    margin: 0;
                    font-family: $font-stack;
                    font-weight: 700;
                    font-size: 19px;
                    line-height: 23.85px;
                    letter-spacing: 0.4px;
                    color: #252733;
                }

                .card-title-link {
                    color: #3751FF;
                    text-decoration: none;
                }
            }

            .card-subtitle {
                font-family: $font-stack;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.1px;
                color: #9FA2B4;

                span {
                    font-weight: 600;
                }
            }
        }

        .card-body-list-item {
            border-bottom: 1px solid #DFE0EB;
            padding: 20px 32px 18px;
            max-height: 58px;

            &:last-child {
                border: none;
            }

            .form-check {
                margin: 0;
            }

            .card-item-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .card-item-content-title {
                    margin: 0;
                    font-family: $font-stack;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #252733;

                    &.create-task {
                        color: #C5C7CD;
                    }
                }

                .card-item-content-value {
                    margin: 0;
                    font-family: $font-stack;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #9FA2B4;
                }
            }
        }
    }
}